<ion-header>
  <ion-navbar>
    <ion-title>
      Curso Laravel
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="salvar()">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="usuarioCadastro.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Idade</ion-label>
      <ion-textarea [(ngModel)]="usuarioCadastro.idade" name="idade"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Perfil</ion-label>
      <ion-select [(ngModel)]="usuarioCadastro.id_perfil" name="perfil" [compareWith]="compareFn">
        <ion-option *ngFor="let perfil of listaPerfil" [value]="perfil._id">{{perfil.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Foto</ion-label>
      <button type="button" (click)="tirarFoto()" item-content title="Tirar Foto" ion-button color="light">
        <ion-icon name="camera"></ion-icon> 
      </button>
    </ion-item>
    <button ion-button type="submit" block>Salvar</button>
  </form>
  <ion-list *ngFor="let usuario of usuarios">
    <ion-item>
      {{usuario.nome}} - {{usuario.idade}} - {{usuario.perfil ? usuario.perfil.nome : ''}}
      <img height="100px" [src]="usuario.foto ? usuario.foto : 'https://github.com/identicons/profile.png'" />
      <button ion-button color="light" (click)="popularForm(usuario)">Editar</button>
      <button ion-button color="danger" (click)="deletar(usuario._id)">Deletar</button>
    </ion-item>
  </ion-list>
</ion-content>